body {
  font-family: "Montserrat", sans-serif;
  margin: 3vw;
}

h1 {
  font-size: 100px;
  color: #C70039;
}
h2 {
  font-size: 60px;
  color: #FFC300;
}

p1 {
  font-size: 30px;
  color: #FFFFFF ;
}

p2{
  size: 30px;
}

body {
	background-image: url("https://cdn.glitch.com/7de0852f-156a-4e01-bda7-07fbc1b00f51%2FUntitled_Artwork.png?v=1605993674587");
        background-repeat:no-repeat;
       background-size: 2000px 1300px;
} 