body {
  font-family: "Montserrat", sans-serif;
  margin: 3vw;
}

h1 {
  font-size: 100px;
  color: #C70039;
}
h2 {
  font-size: 60px;
  color: #FFC300;
}

p1 {
  font-size: 30px;
  color: #FFFFFF;
}

p2{
  font-size: 20px;
  color: #581845;
}

body {
	background-image: url("https://cdn.glitch.com/7de0852f-156a-4e01-bda7-07fbc1b00f51%2FUntitled_Artwork.png?v=1605995075804");
        background-repeat:no-repeat;
       background-size: 1500px 1500px;
} 

image1 {
  image-size: 10px 20px;
}