body {
  font-family: "Montserrat", sans-serif;
  margin: 3vw;
}

h1 {
  font-size: 100px;
  color: #C70039;
}
h2 {
  font-size: 60px;
  color: #FFC300;
}

p1 {
  font-size: 30px;
  color: #581845 ;
}
body {
	background-image: url("https://henricolibrary.org/images/easyblog_articles/79/20181121-Thanksgiving.jpg");
        background-repeat:no-repeat;
       background-size:cover;
} 